*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#111;
    color:#fff;
}

.hero {
    height: 100vh; /* ini WAJIB */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
}

.hero::after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
}

.hero-content{
    position:relative;
    z-index:2;
}

.btn{
    padding:14px 30px;
    background:#c40000;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-weight:600;
}

.section{
    padding:80px 20px;
    text-align:center;
}

.menu{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    background:#1a1a1a;
    border-radius:15px;
    overflow:hidden;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.card-content{
    padding:20px;
}

.price{
    color:#ff3b3b;
    font-weight:600;
}

footer{
    background:#000;
    padding:25px;
    text-align:center;
}

.wa-float{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#c40000;
    color:white;
    padding:15px 18px;
    border-radius:50%;
    text-decoration:none;
}
